<div class="parent"></div>
<div class="main-container">
  <div class="blur-circle1"></div>
  <div class="blur-circle2"></div>

  <!-- Start Landing Page -->
  <div class="landing-page">
    <header>
      <div class="container">
        <img src="assets/images/logo.png" alt="Logo">
        <a href="#" class="logo"> AM <b>BOOKS</b> </a>
        <ul class="links">
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/about-us">About Us</a></li>
          <li><a routerLink="/work">Work</a></li>
          <li><a routerLink="/info">Info</a></li>
          <li><a routerLink="/get-started">Get Started</a></li>
          <li><a routerLink="/review">Review</a></li>
        </ul>
      </div>
    </header>
    
    <div class="content">
      <div class="container">
        <div class="info">
          <h1>Looking For Inspiration</h1>
          <p>Welcome to AM Bookstore, your gateway to endless adventures, knowledge, and imagination.</p>
          <button (click)="gologin()">Explore Now</button> <!-- Button triggers navigation -->
        </div>
        
        <div class="image">
          <img class="main-image" src="https://cdni.iconscout.com/illustration/premium/thumb/businessman-working-using-vr-tech-3840669-3202986.png?f=webp" alt="Inspiration"/>
        </div>
      </div>
    </div>
  </div>
  <!-- End Landing Page -->
</div>
